# dependencies
node_modules/

# build output
dist/
dist-ssr/
*.local

# environment variables
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# editor / OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/